@{
    ViewBag.Title = "SBM :: Home";
}

<div class="jumbotron">
    <h1>Send Email Easy</h1>
    <p class="lead">SBM is a free web framework for sending single, bulk emails.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Watch out for more...
        </p>
    </div>
</div>